<div>
  <P class="success">{{added}}</P>
</div>
<div class="container container-fluid p-5 m-5 bg-primary">
  <div class="form-group">
      <div>
          <label for="hobby" class="fs-3" >Enter your hobby</label>
          <input type="text" class="form-control" id="inputValue1" [value]="inputValue1" [(ngModel)]="inputValue1" autocomplete="off" /><span *ngIf="isBlank" [class]="'text-danger'">Please fill the box</span>
      </div>
     <br>
        <button class="btn btn-secondary p-2 m-1" (click)="addHobby()">Add</button>
   

  </div>
</div>
